# Ignorar node_modules dentro da pasta App
App/node_modules/

# Outras coisas úteis
.env
.DS_Store
*.log

/BackEnd/src/Api.Application/bin
/BackEnd/src/Api.Application/obj

/BackEnd/src/Api.Crosscutting/bin
/BackEnd/src/Api.Crosscutting/obj

/BackEnd/src/Api.Data/bin
/BackEnd/src/Api.Data/obj

/BackEnd/src/Api.Domain/bin
/BackEnd/src/Api.Domain/obj

/BackEnd/src/Api.Service/bin
/BackEnd/src/Api.Service/obj
